.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer {
    text-align: center;
}