.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(/Main/assets/images/loginBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-list {
    position: relative;
    width: 30rem;
    height: 40rem;
    background-color: #424141;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 4px 4px 0px;  */
}

.divError {
    /* border: 0px; */
    /* border: 2px solid; */
    border-radius: 10px;
    /* border-color: #d1d1d1; */
    border-color: red;
    padding: 0px 10px 0px 10px;
    width: 390px;
    height: 56px;
    margin-bottom: 1rem;
    background-color: #272727;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    /* outline: none; */
}

#divSubmit {
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    width: 390px;
    height: 36px;
    margin-top: 1ch;
    margin-bottom: 1ch;
    background-color: #272727;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    /* outline: none; */
    cursor: pointer;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 여기서부터 시작하면 됌@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.divMsg {
    padding: 0px 5px 5px 10px;
    margin-top: 1ch;
    margin-bottom: 2px;
    color: red;
    font-size: 1.4ch;
    width: 390px;
    height: 15px;
    font-weight: bold;
    text-shadow: -1px 0px #272727, 0px 1px #272727, 1px 0px #272727, 0px -1px #272727;
}
#divMsg1 {
    visibility: hidden;
}

#divMsg2 {
    visibility: hidden;
}

#divBirthday {
    margin-bottom: 1.4ch;
}
#divId {
    margin-top: 1.4ch;
}
/*=============*/
/* div 개별 값 */
/*============*/

#divId::before {
    content: "";
    background-image: url(/Main/assets/images/join/userimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
}

#divId {
    display: flex;
    align-items: center;
}

#divPw1::before{
    content: "";
    background-image: url(/Main/assets/images/join/pw1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
}

#divPw2::before{
    content: "";
    background-image: url(/Main/assets/images/join/pw1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
}

#divNickname::before {
    content: "";
    background-image: url(/Main/assets/images/join/userimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
}

#divEmail::before {
    content: "";
    background-image: url(/Main/assets/images/join/email.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
}

#divUsername::before {
    content: "";
    background-image: url(/Main/assets/images/join/userimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
}

#divBirthday::before {
    content: "";
    background-image: url(/Main/assets/images/join/birthday.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
}

/* --------- */
/* input 태그 */
/* --------- */
.input {
    background-color: transparent;
    border: transparent;
    flex: 1;
    /* border: none; */
    outline: 0;
    margin: 0;
    width: 100%;
    line-height: 22px;
    padding: 0px 10px 0px 10px;
    color: #d1d1d1;
}

.check-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.errorPlaceholder::placeholder {
    color: red;
}